@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>It consists of a Site, a WebApi, a console "Job", and a Redis Cache</p>
<p>Lets pray that it works.</p>
