@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>My Email:</strong> <a href="mailto:BryanMcCoy04@gmail.com">BryanMcCoy04@gmail.com</a><br />
    <strong>My Twitter:</strong> <a href="http://twitter.com/bmccoy04" target="_blank">Follow Me!</a><br />
    <strong>My GitHub:</strong> <a href="http://github.com/bmccoy04" target="_blank">Fork Me!</a><br />
</address>
