@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    th, td {
        padding: 10px 10px 10px 10px;
    }
    tr {
        border: solid;
    }
</style>


<br />

<table>
    <thead>
        <tr>
            <th >
                Is Up
            </th>
            <th >
                Latency
            </th>
            <th >
                Mac Address
            </th>
            <th >
                Ip Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var host in Model.Hosts)
        {
            <tr>
                <td>@host.IsUp</td>
                <td>@host.Latency</td>
                <td>@host.MacAddress</td>
                <td>@host.IpAddress</td>
            </tr>
        }
    </tbody>
</table>